@model HotelEstrellaReal5.Models.Permiso

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-xl-11">
    <div class="card-box">

        <h4 class="header-title m-t-0 m-b-30 text-center">Editar permiso</h4>
        <hr />
        <form asp-action="Edit" id="formulario" onsubmit="enviarformulario(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPermiso" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre *</label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del permiso" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción *</label>
                <input asp-for="Descripcion" class="form-control" placeholder="Ingrese una breve descripción" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group text-right m-b-0">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary waves-effect waves-light m-l-5"> Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function enviarformulario(event) {
            event.preventDefault();

            const inputs = document.querySelectorAll('input, textarea, select'); // Selecciona los inputs
            let valid = true; // Inicializa la variable valid

            if (valid) {
                swal.fire({
                    title: '¿Estás seguro que quieres guardar los cambios?',
                    icon: 'question',
                    showCancelButton: true,
                    allowOutsideClick: false,
                    confirmButtonText: 'si'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        const formulario = document.getElementById('formulario');
                        formulario.submit();
                    }
                });
            }

        }
    </script>
}

