
@{
    ViewData["Title"] = "Habitaciones de Clientes";
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}


<link href="~/css/vistaclientes.css" rel="stylesheet" />
<div class="habitacion1">
    <ul>
        <li class="suitt">
            <img class="foto1" src="~/Imagenes/suit1.jpg" alt="">
            <img class="foto2" src="~/Imagenes/suit2.png" alt="">
            <img class="foto3" src="~/Imagenes/suit3.png" alt="">
            <h1>Suits de Lujo</h1>
            <h4>Diseñadas con las mejores comodidades</h4>
            <p>
                Nuestras Suits tienen un diseño que te permiten tener exclusividad, seguridad, comodidad y grandes lujos.
                Cuenta con decoraciones muy originales y espacios llenos de historia y confort, ademas de una terraza donde podras
                optener grandes vistas y comodidades para que tenga el descanso y la tranquilidad que usted se merece.
            </p>
            <a class="reserva-ahora" href="@Url.Action("Create", "Reservas")">Reserva Ahora</a>
        </li>
    </ul>
</div>
<hr class="habitacion-linea">
<div class="habitacion2">
    <li class="habitacion-especial">
        <img class="foto4" src="~/Imagenes/Habitacion_especial2.jpg" alt="">
        <img class="foto5" src="~/Imagenes/Habitacion_Especial5.jpg" alt="">
        <img class="foto6" src="~/Imagenes/Habitacion_Especial3.jpg" alt="">
        <H1>Especial Doble</H1>
        <h4>perfectas para su descanso y confort</h4>
        <p>
            Las habitaciones Especial Doble cuenta con las características de excelencia y confort que distinguen a nuestro hotel.
            Son 30 metros cuadrados, son habitación recomendada especialmente para aquellos que viajan solos o con sus parejas.
            Cuentan con una cama Queen Size (1.80m x 1.90m) y una vista especial para que disfrutes de luminosas noches y  amaneceres increibles...
        </p>
        <a class="reserva-ahora2" href="">Reserva Ahora</a>
    </li>
</div>
<hr class="habitacion-linea">

<div class="habitacion3">
    <li class="habitacion-familiar">
        <img class="foto7" src="~/Imagenes/habitacion_familiar2.png" alt="">
        <img class="foto8" src="~/Imagenes/habitacion_familiar.jpg" alt="">
        <img class="foto9" src="~/Imagenes/habitacion_familiar1.png" alt="">
        <h1>Acomodacion Familiar</h1>
        <h4>Habitaciones perfectas para compartir con tus seres queridos</h4>
        <p>
            Estas habitaciones tiene dos camas que son perfectas para que compartas al lado de tu familia,
            cuenta con sala comedor y excelentes comodidades, escritorio para que tu trabajo no se vea interrunpido
            en ningun momento mientras disfrutas de el confort y la comodidad de estas espectaculares habitaciones,
            que sin ninguna duda cumplen con todas tus necesidades.
        </p>
        <a class="reserva-ahora3" href="">Reserva Ahora</a>
    </li>
</div>
<hr class="habitacion-linea">
<div class="habitacion4">
    <li class="habitacion-sencilla">
        <img class="foto10" src="~/Imagenes/habitacion_sencilla1.jpg" alt="">
        <img class="foto11" src="~/Imagenes/habitacion_sencilla2.jpg" alt="">
        <img class="foto12" src="~/Imagenes/habitacion_sencilla3.jpg" alt="">
        <H1>Habitaciones Sencillas</H1>
        <h4>disfruta de un descanso y una agradable comodidad</h4>
        <p>
            Nuestras habitaciones sencillas te brindan una perfecta comodidad, son habitaciones ideales para todo tipo de personas y
            perfectas para alojar delegaciones deportivas y deportistas de alto rendimiento que deseen disfrutar del excelente
            servicio que brida a nuestros visitantes el Hotel StarFish.
        </p>
        <a class="reserva-ahora4" href="">Reserva Ahora</a>
    </li>
</div>

