@model HotelEstrellaReal5.Models.Huespede

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-xl-11">
    <div class="card-box">

        <h4 class="header-title m-t-0 m-b-30 text-center">Editar Huésped</h4>

        <form asp-action="Edit" id="formulario" onsubmit="enviarformulario(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHuesped" />
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Identificacion" class="control-label">identificación *</label>
                    <input asp-for="Identificacion" class="form-control" placeholder="Ingrese su numero de Identificación" />
                    <span asp-validation-for="Identificacion" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="NombreCompleto" class="control-label">Nombre Completo *</label>
                    <input asp-for="NombreCompleto" class="form-control" placeholder="Ingrese su nombre completo" />
                    <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Email" class="control-label">Correo electronico *</label>
                    <input asp-for="Email" class="form-control" placeholder="Ingrese su correo electronico" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Telefono" class="control-label">Teléfono *</label>
                    <input asp-for="Telefono" class="form-control" placeholder="Ingrese su numero de teléfono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group text-right m-b-0">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary waves-effect waves-light m-l-5"> Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function enviarformulario(event) {
            event.preventDefault();

            const inputs = document.querySelectorAll('input, textarea, select'); // Selecciona los inputs
            let valid = true; // Inicializa la variable valid

            if (valid) {
                swal.fire({
                    title: '¿Estás seguro que quieres guardar los cambios?',
                    icon: 'question',
                    showCancelButton: true,
                    allowOutsideClick: false,
                    confirmButtonText: 'si'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        const formulario = document.getElementById('formulario');
                        formulario.submit();
                    }
                });
            }

        }
    </script>
}